.track {
    background-color: black;
}

.track::before {
    background-color: black;
    border: 2px solid gray;
}

.bar {
    background-color: rgb(171, 18, 18);
}

.bar-volume {
    background-color: whitesmoke;
}

.thumb {
    border: 2px solid whitesmoke;
    background-color: black;
}
