services:
    db:
        image: postgres:latest
        environment:
            - POSTGRES_USER=${DB_USERNAME}
            - POSTGRES_PASSWORD=${DB_PASSWORD}
            - POSTGRES_DB=${DB_NAME}
        volumes:
            - db_data:/var/lib/postgresql/data
        ports:
            - '5432:5432'

    app:
        build:
            context: ./modules/app
            dockerfile: Dockerfile
            target: dev # default to dev target
        volumes:
            - ./modules/app:/app # maps the 'app' directory to '/app' in the container
            - /app/node_modules # create a separate volume for node_modules
        ports:
            - '5000:5000'
        depends_on:
            - db

    client:
        build:
            context: ./modules/client
            dockerfile: Dockerfile
        ports:
            - '3001:3001'
        volumes:
            - ./modules/client:/app
            - /app/node_modules
        command: ['npm', 'run', 'dev'] # overrides Dockerfile start command in dev env
        restart: always

volumes:
    db_data:
