services:
    db:
        image: postgres:latest
        environment:
            - POSTGRES_USER=${DB_USERNAME}
            - POSTGRES_PASSWORD=${DB_PASSWORD}
            - POSTGRES_DB=${DB_NAME}
            - NODE_ENV=development
            - PORT=5000
            - DB_HOST=db
            - DB_PORT=5432
        volumes:
            - db_data:/var/lib/postgresql
        ports:
            - '5432:5432'
        healthcheck:
            test: ['CMD-SHELL', 'pg_isready -U ${DB_USERNAME} -d ${DB_NAME}']
            interval: 2s
            timeout: 5s
            retries: 10

    app:
        build:
            context: ./modules/app
            dockerfile: Dockerfile
            target: dev
        environment:
            - NODE_ENV=development
            - PORT=5000
            - DB_HOST=db
            - DB_PORT=5432
            - DB_USERNAME=${DB_USERNAME}
            - DB_PASSWORD=${DB_PASSWORD}
            - DB_NAME=${DB_NAME}
        volumes:
            - ./modules/app:/app
            - /app/node_modules
        ports: ['5000:5000']
        depends_on:
            db:
                condition: service_healthy

    client:
        build:
            context: ./modules/client
            dockerfile: Dockerfile
        ports:
            - '3001:3001'
        volumes:
            - ./modules/client:/app
            - /app/node_modules
        command: ['npm', 'run', 'dev'] # overrides Dockerfile start command in dev env
        restart: always

volumes:
    db_data:
