:root {
    --background: #382733;
    --foreground: #d5ff3d;
}

body,
html {
    max-width: 100vw;
    overflow-x: hidden;
    position: relative;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: 'JetBrains Mono', 'Cascadia Code', 'Fira Code', 'Iosevka',
        ui-monospace, Monaco, Cascadia Mono, Segoe UI Mono, Roboto Mono,
        Oxygen Mono, Ubuntu Mono, Source Code Pro, Fira Mono, Droid Sans Mono,
        Consolas, Courier New, monospace;
    /* Neon glow reminiscent of retro arcade screens */
    /* text-shadow: 0 0 8px #5e6000, 0 0 4px #d5ff3d; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* letter-spacing: 0.05em; */
    /* Optional: Remove for a crisper, more defined look */
    /* filter: blur(0.1px); */
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
}

.scanlines {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    filter: blur(0);
    z-index: 900;
    opacity: 0.15;
}

.scanlines:after,
.scanlines:before {
    display: block;
    pointer-events: none;
    content: '';
    position: absolute;
}

.scanlines:before {
    width: 100%;
    height: 2rem;
    z-index: 1500;
    background: rgba(0, 0, 0, 0.6);
    opacity: 1;
    animation: scanline 6s linear infinite;
}

.scanlines:after {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background: linear-gradient(
        180deg,
        transparent 50%,
        rgba(0, 0, 0, 0.3) 51%
    );
    background-size: 100% 0.25rem;
    animation: scanlines 6s steps(60) infinite;
}

@keyframes scanline {
    0% {
        transform: translate3d(0, 200000%, 0);
    }
}

@keyframes scanlines {
    0% {
        background-position: 0 50%;
    }
}
