.track {
    background-color: black;
}

.track::before {
    background-color: black;
    border: 2px solid gray;
}

.bar {
    background-color: gray;
}

.thumb {
    border: 2px solid gray;
    background-color: black;
}
