trigger:
    branches:
        include:
            - master
    paths:
        include:
            - '**/app/**'

pr:
    autoCancel: true
    branches:
        include:
            - master
    paths:
        include:
            - '**/app/**'

resources:
    - repo: self

# ---------------- Variables ----------------
variables:
    vmImageName: 'ubuntu-latest'
    dockerRegistryServiceConnection: 'ghcr-conn'
    owner: 'hubenschmidt'
    imageName: 'discogs-player-app' # lowercase
    imageRepository: '$(owner)/$(imageName)'
    dockerfilePath: 'modules/app/Dockerfile'
    buildContext: 'modules/app'
    tagLatest: 'latest'
    tagBuildId: '$(Build.SourceBranchName)-$(Build.BuildId)'

stages:
    - stage: Build
      displayName: Build app
      jobs:
          - job: Build
            displayName: Node build (optional)
            pool:
                name: Default # your self-hosted Linux agent pool
                demands:
                    - Agent.OS -equals Linux
            steps:
                - task: NodeTool@0
                  inputs:
                      versionSpec: '18'
                  displayName: 'Install Node.js'
                - task: Npm@1
                  displayName: 'npm install (modules/app)'
                  inputs:
                      command: 'install'
                      workingDir: '$(Build.SourcesDirectory)/modules/app'

    - stage: Push
      displayName: Push Docker Image to GHCR
      dependsOn: Build
      jobs:
          - job: Push
            displayName: Build & push image
            pool:
                vmImage: $(vmImageName) # or use your self-hosted pool if you prefer
            steps:
                # Optional: speed up builds
                - script: |
                      echo "Enabling BuildKit"
                      echo "##vso[task.setvariable variable=DOCKER_BUILDKIT]1"
                  displayName: 'Enable BuildKit'

                - task: Docker@2
                  displayName: 'Build and push to GHCR'
                  inputs:
                      command: 'buildAndPush'
                      containerRegistry: '$(dockerRegistryServiceConnection)'
                      repository: '$(imageRepository)' # owner/name ONLY
                      dockerfile: '$(dockerfilePath)'
                      buildContext: '$(buildContext)'
                      addPipelineData: false
                      tags: |
                          $(tagLatest)
                          $(tagBuildId)
